@tailwind base;
@tailwind components;
@tailwind utilities;

.dark.bg-gradient {
  background: rgb(39, 42, 55);
  background: linear-gradient(
    60deg,
    rgb(39, 42, 55, 1) 50%,
    rgba(39, 42, 55, 0.8) 70%,
    rgba(39, 42, 55, 0.4) 100%
  );
}

.light.bg-gradient {
  background: rgb(39, 42, 55);
  background: linear-gradient(
    60deg,
    rgb(180, 180, 190) 55%,
    rgb(180, 180, 190, 0.9) 60%,
    rgba(180, 180, 190, 0.8) 70%,
    rgba(180, 180, 190, 0.3) 100%
  );
}
